@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  position: absolute !important;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  background: transparent !important;
  transition: all 500ms ease;
  z-index: 999;
}
nav a {
  color: #fff !important;
  font-family: "DM Sans", sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  font-style: normal;
}

.hero-banner {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../Images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-banner h1 {
  font-family: Lora, serif;
  font-size: 60px;
  font-weight: 600;
  color: white;
  font-style: normal;
}
.hero-banner p {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}
.hero-banner button {
  background-color: #FF3639;
  padding: 10px 30px;
  border: none;
}
.hero-banner button a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.about {
  padding: 50px 0px;
}
.about h6 {
  color: #878c8f;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
}
.about h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 55px;
  color: #000;
  font-family: Lora, serif;
}
.about h2 span {
  color: #FF3639;
}
.about p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #878c8f;
  font-style: normal;
}
.about button {
  background-color: #FF3639;
  padding: 10px 30px;
  border: none;
}
.about button a {
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.bg-three-box {
  background-color: #000;
  position: relative;
  display: block;
  z-index: 1;
  padding: 50px 0px;
}
.bg-three-box .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  background: url(../Images/bg.jpg);
}
.bg-three-box h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  font-style: normal;
}
.bg-three-box h2 {
  font-family: Lora, serif;
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  font-style: normal;
  margin-bottom: 20px;
}
.bg-three-box .box {
  border: 2px dashed #8a8f8d;
  height: 100%;
  padding: 10px;
}
.bg-three-box .box h3 {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
}
.bg-three-box .box p {
  color: #878c8f;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-family: Lora, serif;
}

.logo {
  padding: 50px 0px;
}
.logo .slider {
  background: #fff;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.logo .slide-track {
  display: flex;
  align-items: center;
  width: 2000px;
  /* (image width * total slides) */
  animation: scroll 20s linear infinite;
}
.logo .slide {
  width: 200px;
  /* image width */
  flex-shrink: 0;
}
.logo .slide img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.agenda {
  padding: 50px 0px;
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #f5f6f7;
  overflow: hidden;
  z-index: 1;
}
.agenda .bg-box {
  background: url(../Images/agenda-bg.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: luminosity;
  opacity: 0.1;
  z-index: -1;
}
.agenda h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #FF3639;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}
.agenda h2 {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 60px;
  font-weight: 500;
  font-family: lora, serif;
  line-height: 1;
  color: #000;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .agenda h2 {
    font-size: 32px;
  }
}
.agenda p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2.1px;
  padding: 10px;
  border: 1px solid #000;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.agenda .col-box {
  border-radius: 12px;
  border: 2px solid #FF3639;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  color: #1a1725;
  align-items: flex-start;
  padding: 30px;
}
@media (max-width: 991px) {
  .agenda .col-box {
    padding: 5px;
  }
}
.agenda .col-box .accordionn {
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.agenda .col-box .accordion-itemm {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.agenda .col-box .accordion-headerr {
  width: 100%;
  text-align: left;
  padding: 15px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background: #FF3639;
  font-weight: bold;
  color: #fff;
  transition: background 0.3s ease;
}
.agenda .col-box .accordion-contentt {
  max-height: 0;
  transition: max-height 0.3s ease;
  padding: 0 15px;
}
.agenda .col-box .accordion-contentt p {
  margin: 10px 0;
  font-size: 14px;
  color: #000;
  border: none;
}
.agenda .col-box .icon {
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.agenda .col-box .accordion-item.active .icon {
  transform: rotate(45deg);
  /* turns + into × */
  color: #007bff;
}
.agenda .col-box .content-box button {
  border-radius: 5px;
  background: #FF3639;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px 13px;
  display: flex;
}
.agenda .col-box .content-box p {
  border: none;
  color: #000;
}
.agenda .col-box .accordion-itemm.active .accordion-contentt {
  max-height: 200px;
  /* Adjust depending on content */
  padding-bottom: 15px;
}
@media (max-width: 600px) {
  .agenda .col-box .accordionn {
    max-width: 95%;
  }
}/*# sourceMappingURL=style.css.map */